#  Python Basic Assignment 20

> 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [7]:
test1 = 'This is a test of the emergency text system,'
file1 = open('test.txt','w')
file1.write(test1)
file1.close()

> 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [8]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [9]:
if test1==test2:
    print('Both are same')

Both are same

> 3. Create a CSV file called books.csv by using these lines:
*                 title,author,year<br>
*                The Weirdstone of Brisingamen,Alan Garner,1960<br>
*                 Perdido Street Station,China Miéville,2000<br>
*                 Thud!,Terry Pratchett,2005<br>
*                 The Spellman Files,Lisa Lutz,2007<br>
*                 Small Gods,Terry Pratchett,1992<br>

In [3]:
import csv 
rows = [['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

> 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3
connection = sqlite3.connect('books.db')
conn = connection.cursor()

conn.execute('create table books(title varchar(20),author varchar(20), year int)')
connection.commit()

> 5. Read books.csv and insert its data into the book table.

In [5]:
import pandas as pd
read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', connection, if_exists='append', index = False)

5

> 6. Select and print the title column from the book table in alphabetical order.

In [5]:
conn.execute('select title from books order by title asc')
print(conn.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',)]

> 7. From the book table, select and print all columns in the order of publication.

In [7]:
conn.execute('select title, author,year from books order by year')


df = pd.DataFrame(conn.fetchall(), columns=['title','author','year'])
df

                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3   The Weirdstone of Brisingamen      Alan Garner  1960
4   The Weirdstone of Brisingamen      Alan Garner  1960
5   The Weirdstone of Brisingamen      Alan Garner  1960
6   The Weirdstone of Brisingamen      Alan Garner  1960
7                      Small Gods  Terry Pratchett  1992
8                      Small Gods  Terry Pratchett  1992
9                      Small Gods  Terry Pratchett  1992
10                     Small Gods  Terry Pratchett  1992
11                     Small Gods  Terry Pratchett  1992
12                     Small Gods  Terry Pratchett  1992
13                     Small Gods  Terry Pratchett  1992
14         Perdido Street Station   China Miéville  2000
15         Perdido Street Station   China Miéville  2000
16         Perdido Street Station   China Miéville  2000
17         Perdido Street Station   China Miéville  2000
18         Perdido Street Station   China Miéville  2000
19         Perdido Street Station   China Miéville  2000
20         Perdido Street Station   China Miéville  2000
21                          Thud!  Terry Pratchett  2005
22                          Thud!  Terry Pratchett  2005
23                          Thud!  Terry Pratchett  2005
24                          Thud!  Terry Pratchett  2005
25                          Thud!  Terry Pratchett  2005
26                          Thud!  Terry Pratchett  2005
27                          Thud!  Terry Pratchett  2005
28             The Spellman Files        Lisa Lutz  2007
29             The Spellman Files        Lisa Lutz  2007
30             The Spellman Files        Lisa Lutz  2007
31             The Spellman Files        Lisa Lutz  2007
32             The Spellman Files        Lisa Lutz  2007
33             The Spellman Files        Lisa Lutz  2007
34             The Spellman Files        Lisa Lutz  2007

> 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

> 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [1]:
!pip install redis

Requirement already satisfied: redis in c:\users\urosh\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\urosh\anaconda3\lib\site-packages (from redis) (4.0.2)

In [5]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\urosh\AppData\Local\Temp\ipykernel_13144\19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

> 10. Increment the count field of test and print it.

In [6]:
conn.hincrby('test','count', 3)

4